@model SeminarWeb.Models.NewSeminars

@{
    ViewBag.Title = "Создать";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Create</h2>

<div>
    <h3>Форма создания семинара.</h3>
    @using (Html.BeginForm("Buy", "Home", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.SeminarId)
        @Html.LabelFor(x => x.SeminarsTheme, "Введите название темы")
        <br />
        @Html.TextBoxFor(x => x.SeminarsTheme)
        <br /><br />
        @Html.LabelFor(x => x.SeminarsInside, "Введите описание")
        <br />
        @Html.TextBoxFor(x => x.SeminarsInside)
        @Html.LabelFor(x => x.SeminarsTeachName, "Введите Ф.И.О преподавателя")
        <br />
        @Html.TextBoxFor(x => x.SeminarsTeachName)
        @Html.LabelFor(x => x.SeminarsTimeStart, "Введите время начала")
        <br />
        @Html.TextBoxFor(x => x.SeminarsTimeStart)
        <p><input type="submit" value="Создать" /></p>
    }
</div>  qwe*@

